.root {
  align-items: center;
  transition: .4s;
  padding: 0.5em 0 0;
  border: 1px solid map(colors, primary, base);
  text-align: center;
  cursor: pointer;
}

.open {

}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-family: map(fonts, family-serif);
  font-weight: bold;
  grid-column: span 2;
}

.photo {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  display: inline-block;
}

.footer {
  background-color: map(colors, secondary, light);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  font-weight: bold;
  margin-top: 1em;
  width: 100%;
}

.headline {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: normal;
}

.social {
  font-size: .8em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
  cursor: default;
}

.popup__inner {
  max-width: 30em;
  background-color: #fff;
  margin: 6em auto 4em;
  padding: 1em;
}

.popup__header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.popup img {
  margin: 0 1em 0 0;
}

.content p {
  font-size: 16px;
  margin-right: 0;
  text-align: left;
}