.root {
  align-items: center;
  transition: .4s;
  padding: 0.5em 0 0;
  border: 1px solid #3d3d3d;
  cursor: pointer;
}

.open {

}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.root .inner > .name,
.root > .popup .name {
  font-weight: bold !important;
  grid-column: span 2;
  padding: 0 0.5em;
}

.photo {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin: 0 auto 1em;
}

.popup .photo {
  /*margin-right: 1em;*/
  margin-bottom: 0;
}

.footer {
  background-color:  #3d3d3d;
  color: #fff;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  padding: 0.5em;
  font-weight: bold;
  margin-top: 1em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.footer > .camara,
.footer > .partido {
  letter-spacing: 0.4px;
  font-size: 19px;
}

@media only screen and (min-width: 768px) {
  .footer > .camara,
  .footer > .partido {
    font-size: 28px !important;
  }
}

[data-partido="Otros"] {
  fill: #3d3d3d;
  background-color: #3d3d3d;
}

[data-partido="Afros"] {
  fill: map(colors, partidos, afros);
  background-color: map(colors, partidos, afros);
}

[data-partido="Asi"] {
  fill: map(colors, partidos, asi);
  background-color: map(colors, partidos, asi);
}

[data-partido="Indígenas"] {
  fill: map(colors, partidos, indígenas);
  background-color: map(colors, partidos, indígenas);
}

[data-partido="Farc"] {
  fill: map(colors, partidos, farc);
  background-color: map(colors, partidos, farc);
}

[data-partido="Opción Ciudadana"] {
  fill: map(colors, partidos, opcionCiudadana);
  background-color: map(colors, partidos, opcionCiudadana);
}

[data-partido="Polo"],
[data-partido="Polo Democrático Alternativo"] {
  fill: map(colors, partidos, polo);
  background-color: map(colors, partidos, polo);
}

[data-partido="Coalición Colombia"] {
  fill: map(colors, partidos, coalicionColombia);
  background-color: map(colors, partidos, coalicionColombia);
}

[data-partido="Alianza Verde"] {
  fill: #03a855;
  background-color: #03a855;
}

[data-partido="Lista De La Decencia"] {
  fill: map(colors, partidos, listaDeLaDecencia);
  background-color: map(colors, partidos, listaDeLaDecencia);
}

[data-partido="Liberal"] {
  fill: #cf2a24;
  background-color: #cf2a24;
}

[data-partido="La U"] {
  fill: #ff9900;
  background-color: #ff9900;
}

[data-partido="Cambio Radical"] {
  fill: #4a4297;
  background-color: #4a4297;
}

[data-partido="Mira"] {
  fill: #202c54;
  background-color: #202c54;
}

[data-partido="Conservador"] {
  fill: #012bb3;
  background-color: #012bb3;
}

[data-partido="Centro Democrático"] {
  fill: #2a94ff;
  background-color: #2a94ff;
}

[data-partido="Centro Esperanza"] {
  fill: #a7ce00;
  background-color: #a7ce00;
}

[data-partido="Mais"] {
  fill: map(colors, partidos, mais);
  background-color: map(colors, partidos, mais);
}

[data-partido="Nuevo Liberalismo"] {
  fill: #aa1a1a;
  background-color: #aa1a1a;
}

[data-partido="Comunes"] {
  fill: #300202;
  background-color: #300202;
}

[data-partido="Estamos Listas"] {
  fill: #590080;
  background-color: #590080;
}

[data-partido="Pacto Historico"],
[data-partido="Pacto Histórico"]{
  fill: #fc00bb;
  background-color: #fc00bb;
}

.headline {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: normal;
}

.social {
  font-size: .8em;
  padding: 0 0.5em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
  cursor: default;
}

.popup__inner {
  width: 90%;
  max-width: 30em;
  background-color: #fff;
  margin: 6em auto 4em;
  padding: 1em;
  position: relative;
}

.popup__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.popup img {
  margin: 0 1em 0 0;
}

.content p {
  font-size: 16px !important;
  margin-right: 0;
  text-align: left;
}

.close_btn {
  background: 0;
  border: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 1em;
  top: 1em;
}

.close_btn svg {
  width: 100%;
  height: auto;
}