.root {
  align-items: center;
  transition: .4s;
  padding: 0.5em 0 0;
  border: 1px solid map(colors, primary, base);
  text-align: center;
}

.name {
  font-family: map(fonts, family-serif);
  font-weight: bold;
  grid-column: span 2;
}

.photo {
  border-radius: 50%;
  width: 6em;
  margin-bottom: 1em;
  display: inline-block;
}

.footer{
  background-color: map(colors, secondary, light);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  font-weight: bold;
  margin-top: 1em;
}

.headline {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: normal;
}

.social {
  font-size: .8em;
}