.root {
  align-items: center;
  transition: .4s;
  padding: 0.5em 0 0;
  border: 1px solid map(colors, partidos, otros);
  text-align: center;
  cursor: pointer;
}

.open {

}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-family: map(fonts, family-serif);
  font-weight: bold;
  grid-column: span 2;
}

.photo {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  display: inline-block;
}

.popup .photo {
  margin-right: 1em;
  margin-bottom: 0;
}

.footer {
  background-color: map(colors, partidos, otros);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  font-weight: bold;
  margin-top: 1em;
  width: 100%;
}

.footer[data-partido="Afros"] {
  background-color: map(colors, partidos, afros);
}

.footer[data-partido="Indígenas"] {
  background-color: map(colors, partidos, indigenas);
}

.footer[data-partido="Farc"] {
  background-color: map(colors, partidos, farc);
}

.footer[data-partido="Opción ciudadana"] {
  background-color: map(colors, partidos, opcionCiudadana);
}

.footer[data-partido="Polo"] {
  background-color: map(colors, partidos, polo);
}

.footer[data-partido="Coalición Colombia"] {
  background-color: map(colors, partidos, coalicionColombia);
}

.footer[data-partido="Alianza Verde"] {
  background-color: map(colors, partidos, alianzaVerde);
}

.footer[data-partido="Lista De La Decencia"] {
  background-color: map(colors, partidos, listaDeLaDecencia);
}

.footer[data-partido="Liberal"] {
  background-color: map(colors, partidos, liberal);
}

.footer[data-partido="La U"] {
  background-color: map(colors, partidos, laU);
}

.footer[data-partido="Cambio Radical"] {
  background-color: map(colors, partidos, cambioRadical);
}

.footer[data-partido="Mira"] {
  background-color: map(colors, partidos, mira);
}

.footer[data-partido="Conservador"] {
  background-color: map(colors, partidos, conservador);
}

.footer[data-partido="Centro Democrático"] {
  background-color: map(colors, partidos, centroDemocratico);
}

.headline {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: normal;
}

.social {
  font-size: .8em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
  cursor: default;
}

.popup__inner {
  width: 90%;
  max-width: 30em;
  background-color: #fff;
  margin: 6em auto 4em;
  padding: 1em;
  position: relative;
}

.popup__header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.popup img {
  margin: 0 1em 0 0;
}

.content p {
  font-size: 16px !important;
  margin-right: 0;
  text-align: left;
}

.close_btn {
  background: 0;
  border: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 1em;
  top: 1em;
}

.close_btn svg {
  width: 100%;
  height: auto;
}