.root {
  color: map(colors, primary, dark);
  max-width: 25em;
}

.title {
  font-size: .8em;
}

.box {
  position: relative;
  height: 3em;
}

.arrow {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
  pointer-events: none;
  transition: .4s;
  transform-origin: center;

  width: 0;
  height: 0;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.5em solid currentColor;
}

.arrowOpen {
  transform: rotate(180deg);
  z-index: 11;
}

.options {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
  max-height: 25em;
  overflow: auto;

}

.open {
  z-index: 10;
  border: 1px solid currentColor;
  border-top: 0;
}

.option {
  padding: 0.5em;
  border: 0;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: #fff;
}

.open .option {
  box-shadow: 0 -1px 0 currentColor;
}

.option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle {
  position: relative;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 1em;
  background-color: transparent;
  margin-right: 1em;
  border: 1px solid transparent;
}

.toggle.open,
.toggle.open:focus {
  outline: none;
  border-color: currentColor;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}