.root {
  color: map(colors, primary, dark);
  max-width: 25em;
}

.title {
  font-size: .8em;
}

.box {
  position: relative;
  height: 3em;
}

.arrow {
  width: 0.75em;
  height: 0.75em;
  border: 1px solid currentColor;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(45deg);
  position: absolute;
  right: 1em;
  top: 1.125em;
  pointer-events: none;
  transition: .4s;
  transform-origin: center;
}

.arrowOpen {
  transform: rotate(225deg);
  top: 0.625em;
  z-index: 11;
}

.options {
  border: 1px solid currentColor;
  border-radius: 5px;
  position: absolute;
  width: 100%;
}

.open {
  z-index: 10;
}

.option {
  padding: 0.5em;
  border: 0;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: #fff;
}

.open .option {
  box-shadow: 0 -1px 0 currentColor;
}

.option:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}