.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em 2em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 736px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1em;
  }
}

.form {
  position: relative;
}

.nameInput {
  border: 0;
  width: 100%;
  border-bottom: 1px solid map(colors, primary, dark);
}

.label {
  color: map(colors, primary, dark);
  position: absolute;
  font-weight: normal;
  pointer-events: none;
  left: 0;
  bottom: 0;
  transition: .4s;
}

.nameInput:focus ~ .label,
.nameInput:valid ~ .label {
  bottom: 80%;
  font-size: .75em;
}