.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2em;
}

.circle {
  border-radius: 50%;
  background-color: map(colors, red, santander);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  border: 0;

  &:hover {
    background-color: map(colors, red, lider);
    color: #fff;
  }
}