.root {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-around;
  padding-bottom: 2em;
}

.extraIndent {
  margin-left: 3em;
  grid-column: span 2;
}

.heading {
  background-color: map(colors, espaciales, elecciones2015);
  color: #fff;
  font-family: Lato, Roboto, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading span {
  font-size: 7.3pt;
}

.showMore {
  color: map(colors, primary, base);
  font-weight: bold;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 5px;
  margin: 1em auto;
  display: block;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2em;
}
